<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container" th:fragment="corpo">
        <h1 th:text="#{titulo.cadastro}"></h1>
        <hr>
        <div>
            <form th:action="${usuario.id == null} ? @{/usuario/save} : @{/usuario/update}" th:object="${usuario}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label th:for="nome">Nome: </label>
                    <input type="text" class="form-control" id="nome" th:field="*{nome}"/>
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="label label-danger"></span>
                </div>

                <div class="form-group">
                    <label thfor="sobrenome">Sobrenome: </label>
                    <input type="text" class="form-control" id="sobrenome" th:field="*{sobrenome}"/>
                    <span th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}" class="label label-danger"></span>
                </div>

                <div class="form-group">
                    <label th:for="dtNascimento">Data de Nascimento: </label>
                    <input type="date" class="form-control" id="dtNascimento" th:field="*{dtNascimento}"/>
                    <span th:if="${#fields.hasErrors('dtNascimento')}" th:errors="*{dtNascimento}" class="label label-danger"></span>
                </div>

                <div class="form-group">
                    <label th:for="sexo">Sexo: </label>
                    <select name="sexo" class="form-control" id="sexo">
                        <option
                                th:each="sexo : ${sexos}"
                                th:value="${sexo.desc}"
                                th:text="${sexo.desc}"
                                th:selected="*{sexo} == ${sexo}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</html>