<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container" th:fragment="corpo">
        <h1 th:text="#{titulo.listagem}"></h1>
        <hr>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" th:action="@{/usuario/sexo}" method="get">
                        <div class="form-group">
                            <select name="tipoSexo" class="form-control" >
                                <option value="">Busca por Sexo</option>
                                <option th:each="sexo : ${sexos}" th:value="${sexo.desc}" th:text="${sexo.desc}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Localizar</button>
                    </form>

                    <form class="navbar-form navbar-left" role="search" th:action="@{/usuario/nome}" method="get">
                        <div class="form-group">
                            <input name="nome" type="text" class="form-control" placeholder="nome">
                        </div>
                        <button type="submit" class="btn btn-default">Localizar</button>
                    </form>
                </div>
            </div>
        </nav>

        <div th:class="${#strings.isEmpty(message)} ? 'panel panel-default' : 'panel panel-success'">
            <div class="panel-heading">
                <span th:text="${#strings.isEmpty(message)} ? '': ${message}"> </span>
            </div>

            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>DATA</th>
                    <th>SEXO</th>
                    <th>AÇÃO</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u : ${usuarios}">
                    <td th:text="${u.id}"></td>
                    <td th:text="${#strings.concat(u.nome,' ', u.sobrenome)}"></td>
                    <td th:text="${#temporals.format(u.dtNascimento, 'dd/MM/yyyy')}"></td>
                    <td th:text="${u.sexo.desc}"></td>
                    <td>
                        <a class="btn btn-info" th:href="@{/usuario/update/{id}(id=${u.id})}">Editar</a>
                        <a class="btn btn-danger" th:href="@{/usuario/delete/{id}(id=${u.id})}">Excluir</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</html>