<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link type="text/css" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
        <title>Spring C.R.U.D</title>
    </head>
    <body>
        <div th:replace="/fragmentos/header :: cabecalho"></div>

        <div class="container" th:include="${conteudo} :: corpo"></div>

        <footer class="footer" th:insert="/fragmentos/footer"></footer>
    </body>
</html>